/Examples/InterfacesAndAbstractClasses/Interface_Abstraction/nbproject/private/
/Projects/PolygonOperationss/nbproject/private/
/Projects/PolygonOperationss/build/
/Projects/Ebook/Ebook/nbproject/private/
/Projects/Ebook/Ebook/build/